.textBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    border-radius: 30px;
    height: 100%;
    padding: 15px;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;

    &__inputBlock {
        width: 30%;
        height: 80%;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
        outline: none;
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    }

    &__outputBlock {
        border: 1px solid black;
        word-wrap: break-word;
        background-color: #fff;
        width: 30%;
        height: 80%;
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    }
}