.text_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  border-radius: 20px;
  height: 100%;
  padding: 1% 3%;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3),
  0 4px 8px rgba(253, 253, 253, 0.3);
  font-family: 'Electrolize', sans-serif;

  &__input_block {
    font-size: 2vw;
    width: 33%;
    height: 90%;
    resize: none;
    background-color: #797777;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1%;
    outline: none;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  }

  &__center_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: 90%;
    justify-content: space-between;
  }

  &__output_block {
    font-size: 2vw;
    border: 1px solid black;
    word-wrap: break-word;
    background-color: #797777;
    width: 33%;
    height: 90%;
    border-radius: 15px;
    padding: 1%;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  }

  &__output_block:hover {

    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;

  }
}